
<div class="row">
	<div class="col s6 push-s3" >
		<h3 class="header">Editing Person</h1>
		<%= render 'form' %>
		<br><br>
		<%= link_to 'Show', @person %> |
		<%= link_to 'Back', people_path %>
	</div>
</div>




