<div class="row">
	<div class="col s6 push-s3" >
		<h3 class="header">Editing Client</h1>
		<%= render 'form' %>

		<br><br>
		<%= link_to 'Show', @client %> |
		<%= link_to 'Back', clients_path %>
	</div>
</div>




