<h3 class="header">Editing Receipt</h1>

<%= render 'form' %>
<br><br>
<%= link_to 'Show', client_receipt_path(@receipt.client, @receipt)%> |
<%= link_to 'Back', client_receipts_path(@receipt.client) %>
