<!DOCTYPE html>
<html>
	<head>
	  <title>EntregaRuby</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body> 

		<nav >
		    <div class="nav-wrapper" >
		      <a href="/" class="brand-logo right" >Ruby</a>
		      <ul id="nav-mobile" class="left">
		        <li><a href="/clients">Clientes</a></li>
		        <li><a href="/people">Personas</a></li>
		      </ul>
		    </div>
		</nav>

		<div class="container" >
		 	<%= yield %>
		  	        
		</div>

	</body>
</html>
